<html>
  <head>
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    <h1>Calendar#index</h1>
    <div id='calendar'></div>
    <p>Find me in app/views/calendar/index.html.erb</p>
  </head>
  <body>
  </body>
</html>
